<div class="panel panel-primary">
    <div class="panel-heading">{{data.name}}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-ld-8 col-md-8 col-sm-12 col-xs-12 file-input-container">
                <input type="file" class="file-input" id="photo">
            </div>
            <div class="col-ld-4 col-md-4 col-sm-12 col-xs-12 button-container">
                <button mat-raised-button color="primary" class="upload-btn" type="button" (click)="upload()">Upload</button>
            </div>
        </div>
    </div>
</div>