<div class="grid-container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-ld-12">
            <!-- <mat-form-field class="example-full-width pull-right">
                <input matInput placeholder="Search.." value="" [(ngModel)]="globalSearchText"
                       (keyup)="globalFilterResult()">
            </mat-form-field> -->
        </div>
    </div>
    <div class="row grid-holder">
        <div class="col-xs-12 col-sm-12 col-md-12 col-ld-12">
            <table class="table table-bordered custom-bootstrap-table">
                <thead>
                <tr>
                    <th class="sl-no">#</th>
                    <th *ngFor="let column of columns" [hidden]="column.hide">
                        <a href="javascript:void(0);"
                           class="disable-drag-drop"
                           (click)="sortBy(column.field, column.dataType, orderBy)">{{column.headerName}}</a>
                        <i class="fa fa-sort disable-drag-drop"
                           [ngClass]="{'fa-sort-asc': (this.orderBy == 'asc'),
                                            'fa-sort-desc': (this.orderBy == 'desc') }"
                           aria-hidden="true"> </i>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="grid-inline-search">
                    <td>&nbsp;</td>
                    <td *ngFor="let column of columns" [hidden]="column.hide">
                        <div class="form-group">
                            <input #searchText class="form-control column-filter" placeholder="search {{column.headerName}}"
                                   (keyup)="filterResult(searchText.value, column)">
                        </div>
                    </td>
                </tr>
                <ng-container *ngFor="let record of pagedItems; let i = index; let odd=odd; let even=even;">
                    <tr class="grid-row"
                        [ngClass]="{ odd: odd, even: even, selected: (i==gridEventObj?.selection?.selectedRow) }"
                        (click)="selectRow(i,record)">
                        <td scope="row">{{(i+1)+(page * pagerRows)}}</td>
                        <td *ngFor="let column of columns; let c = index"
                            (click)="bindColumn($event, column,record, i, c)"
                            [hidden]="column.hide"
                            [innerHtml]="record[column.field] | safeHtml"
                        ></td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>

    <div class="material-pagination">
        <!-- <mat-paginator
            [length]="pageLength"
            [pageSize]="pagerRows"
            [pageSizeOptions]="pageSizeOptions"
            (page)="setPage($event)">
        </mat-paginator> -->
    </div>
</div>
